<div class="container button-container">
  <div class="row">
    <div class="col-lg-3">
      <button tabindex="1" type="button" class="btn btn-sm btn-default" (click)="onButtonClick()" appCustomButtonTooltip="Tooltip for button 'Test 1'">Test 1 line tooltip</button>
    </div>
    <div class="col-lg-3">
      <button tabindex="2" type="button" class="btn btn-sm btn-default" (click)="onButtonClick()" appCustomButtonTooltip="Tooltip for button 'Test 2'<br />Tooltip for button 'Test 2' ">Test 2 lines tooltip</button>
    </div>
    <div class="col-lg-3">
      <a tabindex="3" type="button" class="btn btn-sm btn-default" (click)="onButtonClick()" appCustomButtonTooltip="Tooltip for button 'Test 3'<br />Tooltip for button 'Test 3'<br />Tooltip for button 'Test 3'">Test 3 lines tooltip</a>
    </div>
    <div class="col-lg-3">
      <div tabindex="4" type="button" class="btn btn-sm btn-default" (click)="onButtonClick()" appCustomButtonTooltip="Tooltip for button 'Test 4'<br />Tooltip for button 'Test 4'<br />Tooltip for button 'Test 4'<br />Tooltip for button 'Test 4'">Test 4 lines tooltip</div>
    </div>
  </div>
</div>
